<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
    <bean id="testOrderTrainingDao" 
          class="sg.com.masteryoop.daos.FlooringOrderDaoTrainImpl">
        <constructor-arg value="src/main/resources/data/orderIdCounter.txt"/>
        <constructor-arg value="src/test/"/>
    </bean>
    
    <bean id="testTaxDao" 
          class="sg.com.masteryoop.daos.FlooringTaxDaoImpl">
        <constructor-arg value="src/main/resources/data/taxes.txt"/>
    </bean>
    
    <bean id="testProductDao" 
          class="sg.com.masteryoop.daos.FlooringProductDaoImpl">
        <constructor-arg value="src/main/resources/data/products.txt"/>
    </bean>
    
    <bean id="testService" 
          class="sg.com.masteryoop.services.FlooringOrderServiceProdImpl">
        <constructor-arg ref="testOrderTrainingDao"/>
        <constructor-arg ref="testTaxDao"/>
        <constructor-arg ref="testProductDao"/>
    </bean>

    <bean id="productionDaoTestFile" 
          class="sg.com.masteryoop.daos.FlooringOrderDaoProdImpl">
        <constructor-arg value="src/test/resources/data/testOrderIdCounter.txt"/>
        <constructor-arg value="src/test/"/>
    </bean>
</beans>