<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Test List</title>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
       <!--th (thymeleaf) each ittirates over an array 
       if it was a complex object we would still be able to refrence it
       as long as it has getters and setters use ex. contacts.firstName-->
       <p th:each="number : ${numberList}">
           <span th:text="${number}" </span>
       </p>
   </body>
</html>